<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/socket.io/socket.io.js"></script>
    <script>
    if(window.location.href === "http://localhost:3000/"){
      var socket = io.connect('http://localhost:3000');
      socket.emit('clientsent', { my: 'data' });

      socket.on('serversent', function (data) {
        console.log(data);
      });
    }
    </script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
